{% extends "base_layout.html" %}
{% load static %}

{% block page_title %}
  My Blog
{% endblock %}

{% block css_files%}
  <link rel="stylesheet" href="{% static "blog/includes/post.css" %}" >
  <link rel="stylesheet" href="{% static "blog/index.css" %}" >
{% endblock %}

{% block page_body %}
 

  <section id="welcome">
    <header>
      <img src="{% static "blog/images/s_male_image_md.jpg" %}" alt="Sean - The Author Of This Blog"/>
      <h2>SEAN'S BLOG</h2>
    </header>
    <p>Hello, my name is Sean and I like to blog about the recreational trends in the world!</p>
  </section>

  <section id="latest-posts">
    <h2>My Most Recent Thoughts</h2>
    <ul>
      {% include "blog/includes/post.html" %}
    </ul>
  </section>

  <section id="about">
    <h2>What I do</h2>
    <p>I love using programming and AI to create solutions for clients.
       I also enjoy exploring new technologies to make development more efficient.
    </p>
    <p>
      My aim is to simply improve as a developer and share my knowledge with others like you!
    </p>
  </section>
{% endblock %}