{% extends "base_layout.html" %}
{% load static %}

{% block page_title %}
  My Blog
{% endblock %}

{% block css_files%}
  <link rel="stylesheet" href="{% static "blog/index.css" %}" >
{% endblock %}

{% block page_body %}
  <header id="index-navigation">
    <h1><a href="">Sean's Blog</a></h1>
    <nav><a href="">All Posts</a></nav>
  </header>

  <section id="welcome">
    <header>
      <img src="" alt="Sean - The Author Of This Blog"/>
      <h2>SEAN'S BLOG</h2>
    </header>
    <p>Hello, my name is Sean and I like to blog about the recreational trends in the world!</p>
  </section>

  <section id="latest-posts">
    <h2>My Most Recent Thoughts</h2>
    <ul>
      <li>
        <article class="post">
          <a href="">
            <img src="" alt="Mountain Biking"/>
            <div class="post__content">
              <h3>Mountain Biking</h3>
              <p>The satisfaction you get from seeing the views from your bike on the mountain course is indescribable. 
                I was not prepared for what happened, as soon as I got back to riding further along the path!.
              </p>
            </div>
          </a>
        </article>
      </li>
      <li></li>
      <li></li>
    </ul>
  </section>

  <section id="about">
    <h2>What I do</h2>
    <p>I love using programming and AI to create solutions for clients.
       I also enjoy exploring new technologies to make development more efficient.
    </p>
    <p>
      My aim is to simply improve as a developer and share my knowledge with others like you!
    </p>
  </section>
{% endblock %}