{% extends "base_layout.html" %}
{% load static %}

{% block page_title %}
  This Particular Post Title
{% endblock %}

{% block css_files%}
  <link rel="stylesheet" href="{% static "blog/includes/post.css" %}" >
  <link rel="stylesheet" href="{% static "blog/all-posts.css" %}" >
{% endblock %}

{% block page_body %}
 <section id="summary">
    <h2>Post Title</h2>
    <article>
        <img src ="" alt = "Post Title"/>
        <address>By Sean Crossahm</address>
        <div>Last updated on <time>January 14th 2026</time></div>
    </article>
 </section>
 <main>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto alias vel quasi quo. Aperiam ex labore cumque reiciendis in atque, tenetur porro sint molestias ut officia exercitationem? Sequi, fuga officiis.</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto alias vel quasi quo. Aperiam ex labore cumque reiciendis in atque, tenetur porro sint molestias ut officia exercitationem? Sequi, fuga officiis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto alias vel quasi quo. Aperiam ex labore cumque reiciendis in atque, tenetur porro sint molestias ut officia exercitationem? Sequi, fuga officiis.</p>
 </main>
{% endblock %}

