{% extends "base_layout.html" %}
{% load static %}


{% block page_title %}
 My Stored (Bookmarked) Posts
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/stored-posts.css" %}">
{% endblock %}

{% block page_body %}
  <section>
    {% if not has_posts%}
      <p> You have not saved (bookmarked) any posts for later.</p>
    {% endif %}
    <ul>
      {% for stored_post in posts %}
        <li><a href="{% url "post-details-page" stored_post.slug %}">{{ stored_post.title }}</a></li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}

